.flex-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.frame 
{

    width: 200px; 
    height: 200px;
    border: 1px solid black;
    overflow: hidden;
    

}
.background
{
    width: 200px; 
    height: 200px;
    background-image: url(stud/relax2.jpg); 
    background-size: 100%;
    position: absolute;
    overflow: hidden;
}

.tree
{
    width:110px; 
    height: 110px;
    background-image: url(stud/relax1.png); 
    background-size: 100%;
    position: absolute;
    bottom:20px;
}
.fox
{
    width:70px; 
    height: 70px;
    background-image: url(stud/relax3.png); 
    background-size: 100%;
    position: absolute;
    right: -70px;
    bottom: 15px; 
    opacity:0%;
}

.sun
{
    width:50px; 
    height: 50px;
    background-image: url(stud/relax5.png); 
    background-size: 100%;
    position: absolute;
    left: 5px;
    top: 15px;
    opacity:0%;

}
.box-words1
{
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    color: black;
    font-size: 16px;
    opacity:0%;
    width: 100%;
    top:15px;
    font-weight: bold;

}
.box-words1 p
{
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    font-size: 16px;
}
.box-words2
{
    position: absolute; 
    color: red;
    font-size: 14px;
    opacity:0%;
    transform: rotate(25deg);
    top:80px;
    right:10px;
}
.background:hover .fox
{
    opacity:100%;
    animation: run 3s linear;
    animation-fill-mode: forwards;
}
.background:hover .box-words1
{
    opacity:100%;

}
.background:active .sun
{
    opacity:100%;
    animation: fly 1.5s infinite;
    animation-direction:  alternate;

}

.background:active .box-words1
{
    color: transparent;
}
.background:active .box-words2
{
    opacity:100%;
}

.frame:active
{
    animation: shake 0.5s infinite;
    animation-delay: 0.5s;
}
.frame:active .fox
{
    background-image: url(stud/relax4.png)
}
@keyframes run 
{
    100% { transform: translate(-120px,0); 

    opacity: 100%;}
}
@keyframes fly 
{
    100% { transform: translate(140px,0);
        opacity: 100%; }
}

@keyframes shake 
{

        0% { transform: translateY(0) }
        25% { transform: translateY(2px) }
        50% { transform: translateY(-2px) }
        75% { transform: translateY(2px) }
        100% { transform: translateY(0) }
}