.logo-frame
{
    height: 100px;
    width: 100px;
    position: absolute;
    top:0;
    right: 0;
    overflow: hidden;
    background-color:transparent;
    transition: all 0.3s;
}
.logo-out-border
{
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    background-color: black; /*    0% 100%, 0% 0%, 100% 0%, 100% 100%, 50% 100%);*/
    clip-path: polygon(50% 95%, 95% 30%, 80% 5%, 20% 5%, 5% 30%, 50% 95%, 
     50% 100%, 0% 30%, 18% 0%, 82% 0%, 100% 30%, 50% 100%, 50% 95%);
}
.dimond-back
{
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    background: conic-gradient(at 50% 30%, #736DD1,#F85245 ,#FEB718,#FAEB36, #82CA20, #1A94D0,#4169e1, #563fb0, #736DD1);
    clip-path: polygon(50% 100%, 100% 30%, 80% 0%, 20% 0%, 0% 30%, 50% 100%);
}


.line2 /*middle*/
{
    background-color: black;
    position: absolute;
    height: 4%;
    width: 93%;
    left:4%;
    top:28%;
}

.line7 
{
    background-color: black;
    position: absolute;
    height: 4%;
    width: 96%;
    left:50%;
    bottom:3%;
    transform-origin: 0%;
    transform: rotate(-108deg);
}

.line8 
{
    background-color: black;
    position: absolute;
    height: 4%;
    width: 96%;
    left:50%;
    bottom:3%;
    transform-origin: 0%;
    transform: rotate(-72deg);
}

.line9
{
    background-color: black;
    position: absolute;
    height: 4%;
    width: 34%;
    left:50%;
    top:0%;
    transform-origin: 0%;
    transform: rotate(52deg);
}

.line10
{
    background-color: black;
    position: absolute;
    height: 4%;
    width: 34%;
    left:50%;
    top:0%;
    transform-origin: 0%;
    transform: rotate(128deg);
}

@media (orientation:landscape) 
{
    .logo-frame
    {
        height: 10vh;
        width: 10vh;
        margin-top: 1vh;
        margin-right: 1vh;
    }
}

@media (orientation:portrait) 
{
    .logo-frame
    {
        height: 10vw;
        width: 10vw;
        margin-top: 1vw;
        margin-right: 1vw;
    }
}