.topic
{
    width: 100%;
    height: 10vh;
    overflow: hidden;
}

.content-area
{
    width: 60%;
    margin-left: 20%; 
    background-color: rgba(255,255,255,0.0);
}

/*text topic*/
.topic.text
{
    background-color:#fffcd4;
    height: 90vh;
}
/*colors topics*/

/*light colors*/
.topic.light-orange
{
    background-color:#ffa161;
}

.topic.light-blue
{
    background-color: #7fc7ff;
}

.topic.light-wisteria
{
    background-color:#cda4de;
}

.topic.light-salmon
{
    background-color:#ff9baa;
}

.topic.light-green
{
    background-color:#71bc78;
}

/*accent colors*/


.topic.pump
{
    background-color:#FF6F3B;
}
.topic.mustard
{
    background-color:#ffdb58;
}
.topic.cornflower
{
    background-color:#6495ed;
}
.topic.pink
{
    background-color:#fd7b7c;
}
/*dark colors*/

.topic.dark-blue
{
    background-color:#3b5998;
}
.topic.dark-violet
{
    background-color:#474389;
}
.topic.seroburomaline
{
    background-color:#735184;
}
@media (max-width: 1280px)
{
    .content-area
    {
        width: 100%;
        margin-left: 0%; 
    }  
}

@media (min-width: 1280px)
{
    .content-area
    {
        width: 1280px;
        margin-left: calc((100% - 1280px)/2); 
    } 
}