
.wave-box
{
    position: absolute;
    overflow: hidden;
    height: 50vw;
    width: 50vw;  
    top: 0;
    left:0vw;
    background-color:transparent;
}

.end-wave-box
{
  position: absolute;
  width: 100%;
  height: 25vw;
  top: 0;
  overflow: hidden;
  transform-origin: center;
}

.wave-m, .wave-c, .wave-y
{
    position: absolute;

    top:20%;
    left: 20%;
    width: 60%;
    height: 60%;
    transform-origin: center;
    background-color: transparent;
    transform: rotate(0deg);
}

.wave-m
 {
  border-radius:  40% 40% 45% 45%;; /*использовать радиус не меньше 30%*/
  box-shadow: inset 0 0 15px 5px magenta;
  animation: spinV2 30s infinite linear;
  animation-direction: alternate;
}


.wave-c
 {
  border-radius: 65% 40% 50% 70%;
  box-shadow: inset 0 0 15px 5px cyan; 
  animation: spinV2 25s infinite linear;
  animation-direction: alternate-reverse;
}


.wave-y
 {
  border-radius: 40% 40% 45% 45%;
  box-shadow: inset 0 0 15px 5px yellow;
  animation: spinV2 27s infinite linear;
  animation-direction: alternate;
}

  @keyframes spinV2 {
    100% 
    {
      transform: rotate(360deg);
    }
  }