html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*font: inherit;*/
    vertical-align: baseline;
    
	
}


body 
{
	background: transparent;
    color: #000;
    /*font-family: Arial, sans-serif;*/
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    margin: 0;
    padding: 0;
	min-height: 100vh;
	position: relative;
	top:0;
}

html
{
    padding:0;
    margin:0;
	background-color: #ffffff;
    font-family: 'Comfortaa', cursive;
	font-size: 16px;
}
button{
    font-family: 'Comfortaa', cursive;
}
.background{
	
	height: 100%;
	width: 100%;
	position: fixed;
	top:0;
	left:0;
}
.mango{
	background: linear-gradient(#CB356B, #fce373);
}
.sunrise{
	background: linear-gradient(#3f47dc, #ee73fc);
}
.sea{
	background: linear-gradient(#35bccb, #cfff99);
}
.bubblegum{
	background: linear-gradient(#fc73ec,#55bbe7);
}
.magic{
	background: linear-gradient(#7335cb, #73fce1);
}

.hide-checkbox
{
	position: relative;
}

.choose-background{
	text-align: center;
	width: 100%;
}
.size-ch{
	height: 7vw;
	width: 7vw;
	max-width: 100px;
	max-height: 100px;
	margin: 0 0.5vw;
	display: inline-block;
}
.fone
{
	width: 100%;
	height: 100%;
	padding: 0;
	z-index: 5;
	position: relative;
	opacity: 0;
	margin: 0;
}
/*.checkedIcon 
{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	display: none;
	z-index: 2;
}
.checkedIcon img {
	height: 80%;
	width: 80%;
	object-fit: contain;
	position: relative;
	top:50%;
	transform: translate(0, -50%);
}
.fone:checked ~ .checkedIcon 
{
	display: block;
}*/
.fone:checked ~ .preview-back 
{
	border: 0.5vw solid black;
}
.preview-back
{
	width: 100%;
	height: 100%;
	border-radius: min(1vh, 1vw);
	position: absolute;
	left: 0;
	top:0;
	z-index: 1;
	box-sizing: border-box;
}



.content-area /*класс для ограничение области по ширине*/
{
	width: 1440px;
	height: 100%;
	background-color: rgba(215, 166, 221, 0);
	margin:0 auto;
	padding: 0;
	position: relative;
}

/*DeSiGn*/
#main-screen, #choose-level, #create-level, #do-game, #choose-gamemode
{
    /*width: 100%;*/
    /*height: 100vh;*/
    text-align: center;
    display: none;
	position: relative;
}
/*first-second-menu*/
.center-full-screen
{
    /*width: 1440px;*/
    height: 88vh;
	min-height: 88vh;
    padding-top: 8vh;
    margin: 0 auto;
    position: relative;
	top: 0;
}
/*all*/
.menu-white-big
{
    position: fixed;
    height: 90vh;
    margin: 0 auto;
    top: 5vh;
    background-color: white;
    z-index: 1;
    border-radius: 50px;
    display: none;
}

.menu-white-small
{
    min-height: 80vh;
    width: 50vw;
    max-width: 1200px;
    position: relative;
    margin: 1vh auto;
    background-color: white;
    border-radius: 30px;
    padding: 15px;
    box-sizing: border-box;

}
.menu-white-small.hide
{
    height: 80vh;
    width: 50vw;
    max-width: 1200px;
    position: fixed;
    left: 25vw;
    top:10vh;
    background-color: white;
    border-radius: 30px;
    padding: 15px;
    box-sizing: border-box;
	overflow: auto;
    display: none;
    z-index: 100;
    box-shadow: 0 0 100vh 100vh rgba(31, 30, 30, 0.627);
}
.menu-white-small.settings{
    max-height: 80vh;
    height: auto;
}

.text-left{
    text-align: left;
    width: 80%;
    margin: 0 auto;
}
.padding-settings{
    padding: 10px 10% 0px 10%;
}
h2.gamemode{
	color: white;
	font-size: 24px;
	height: 60px;
	margin: 50px auto;
	line-height: 60px;
	text-align: center;
}
h2.gamemodeBlack{
	color: black;
	font-size: 24px;
}

h2.settings{
	text-align: center;
	font-size: 24px;
    padding: 10px;
}
h3.settings{
	text-align: center;
	font-size: 18.7px;
    padding: 10px;
}
@media (orientation: portrait)
{
    .menu-white-small{
        width: 80vw;
    }
    .menu-white-small.hide{
        width: 90vw;
        left: 5vw;
    }
    .text-left{
        width: 100%;
    }
    .padding-settings{
        padding: 20px 0% 0px 0%;
    }
}
@media (max-width:900px){
    .menu-white-small{
        width: 96%;
        padding: 10px;
    }
    .menu-white-small.hide{
        width: 90vw;
        left: 5vw;
    }
}/*
@media (max-height:700px){
    .menu-white-small{
    height: 87vh;
    }
}*/

/*everywhere*/
.back-to-main-everywhere
{
    position: fixed;
    background-color: white;
    height: 5vh;
    width: 8vh;
    top: 1vh;
    left: 1vh;
    border-radius: 2vh;
    z-index: 15;
    display: none;
    border:none;
}
.back-only-back
{
    background-color: white;
    position: fixed;
    height: 5vh;
    width: 8vh;
    top: 1vh;
    left: 10vh;
    border-radius: 2vh;
    z-index: 15;
    display: none; 
    border:none;
}
.settings-checkbox
{
    height: 5vh;
    width: 8vh;
    position: fixed;
    right: 1vh;
    top:1vh;
    opacity: 0.5;
    z-index: 6;
    margin: 0;
    padding: 0;
}
.settings-checkbox:hover ~ .set-check-icon
{
    transition: 0.5s;
    transform: scale(1.1);
}
.help-button
{
    position: fixed;
    height: 5vh;
    width: 8vh;
    top: 1vh;
    right: 10vh;
    border-radius: 2vh;
    z-index: 15;
    margin: 0;
    padding: 0;
}
.help-button:hover ~ .set-help-icon
{
    transition: 0.5s;
    transform: scale(1.1);
}
.set-check-icon {
    height: 5vh;
    width: 8vh;
    border-radius: 2vh;
    position: fixed;
    right: 1vh;
    top:1vh;
    z-index: 5;
    background-color: white;
  }
  .set-help-icon {
    height: 5vh;
    width: 8vh;
    border-radius: 2vh;
    position: fixed;
    right: 10vh;
    top:1vh;
    z-index: 5;
    background-color: white;
  }


.vertical-align-level5{
	position: relative;
	margin-top: calc((88vh - 100px*5)/2);
}
@media (max-width: 1440px)/*1440 px max content width*/
{
	.content-area
	{
		width: 100%;
	}
}

@media (max-width: 1000px)/*1440 px max content width*/
{
	.content-area-small
	{
		width: 100%;
	}
}

@media (orientation: portrait)
{
	.size-ch{
		height: 12vw;
		width: 12vw;
		margin: 0 0.5vw;
	}
	.fone:checked ~ .preview-back 
	{
		border: 1vw solid black;
	}
}

