html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*font: inherit;*/
    vertical-align: baseline;
	
}


body 
{
	background: transparent;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
	min-height: 100vh;
	position: relative;
	top:0;
}

html
{
    padding:0;
    margin:0;
	background-color: #fce373;
	font-size: 16px;
}

.background{
	
	height: 100%;
	width: 100%;
	position: fixed;
	top:0;
	left:0;
}
.mango{
	background: linear-gradient(#CB356B, #fce373);
}
.sunrise{
	background: linear-gradient(#3f47dc, #ee73fc);
}
.sea{
	background: linear-gradient(#35bccb, #cfff99);
}
.bubblegum{
	background: linear-gradient(#fc73ec,#359ecb);
}
.magic{
	background: linear-gradient(#7335cb, #73fce1);
}

.hide-checkbox
{
	position: relative;
	display: inline-block;
}

.choose-background{
	text-align: center;
	width: 100%;
}
.size-ch{
	height: 7vw;
	width: 7vw;
	margin: 0 0.5vw;
}
.fone
{
	width: 100%;
	height: 100%;
	padding: 0;
	z-index: 5;
	position: relative;
	opacity: 0;
	margin: 0;
}
.checkedIcon 
{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	display: none;
	z-index: 2;
}
.checkedIcon img {
	height: 80%;
	width: 80%;
	object-fit: contain;
	position: relative;
	top:50%;
	transform: translate(0, -50%);
}
.fone:checked ~ .checkedIcon 
{
	display: block;
}

.preview-back
{
	width: 100%;
	height: 100%;
	border-radius: min(1vh, 1vw);
	position: absolute;
	left: 0;
	top:0;
	z-index: 1;
}



.content-area /*класс для ограничение области по ширине*/
{
	width: 1440px;
	height: 100%;
	background-color: rgba(215, 166, 221, 0);
	margin:0 auto;
	padding: 0;
	position: relative;
}




@media (max-width: 1440px)/*1440 px max content width*/
{
	.content-area
	{
		width: 100%;
	}
}

@media (max-width: 1000px)/*1440 px max content width*/
{
	.content-area-small
	{
		width: 100%;
	}
}

@media (orientation: portrait)
{
	.size-ch{
		height: 12vw;
		width: 12vw;
		margin: 0 0.5vw;
	}
}

